<h1 class="mt-4 text-center"><%= @feature.title %></h1>
<hr />
<% if policy(Feature).show? or @feature.status != "complete" %>
  <div class="d-flex justify-content-end">
    <%= link_to "Edit Feature", edit_project_feature_path, class: "btn btn-warning" %>
    &nbsp;&nbsp;&nbsp;
    <% if policy(Feature).show? %>
      <%= button_to "Delete Feature", project_feature_path, method: :delete, class: "btn btn-danger" %>
    <% end %>
  </div>
<% end %>
<br />
<div class="card mb-4">
  <div class="card-header">
    <i class="fas fa-table me-1"></i>
    Feature Info
  </div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Feature Title</th>
          <th>Comment</th>
          <th>Feature Assigned to</th>
          <th>Feature Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @feature.title %></td>
          <td><%= @feature.comment %></td>
          <td><% temp = User.find(@feature.user_id) %>
          <%= temp.email %></td>
          <td><%= @feature.status %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>